body {
	margin: 0px;
}
.header {
	font-family: Helvetica, Arial, sans;
	color: #030;
	height: 160px;
}
.heading {
	padding-top: 25px;
}
.heading h1 {
	font-size: 75px;
	margin: 0px 0px;
	font-weight: bold;
}
.heading h2 {
	font-size: 13px;
}
.logo {
	float:left;
	margin: 5px 25px 5px 5px;
	width: 150px;
	height: 150px;
}
.links {
	float: right;
}
ul.menu {
	background-color: #070;
	padding: 5px 0px;
	font-weight: bold;
	color: white;
	font-family: Helvetica, Arial, sans;
	margin: 0px;
	font-size: 22px;
}
.menu li {
	display: inline;
	padding-left: 15px;
}
.menu a {
	color: white;
	text-decoration: none;
}
.body {
	width: 800px;
	margin: 20px 50px;
	font-size: 20px;
	font-family: Helvetica, Arial, sans;
}