<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>{{page.title}}</title>
		<link href="style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="header">
			<img src="prune-logo.jpg" alt="Prune Logo" class="logo">
			<div class="links">
				<img src="http://github.com/images/modules/download/tar.png" alt="download tarball">
				<img src="http://github.com/images/modules/download/zip.png" alt="download zip">
				<img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="fork me on github">
			</div>
			<div class="heading">
				<h1>Prune</h1>
				<h2>Trimming excess files from your file tree.</h2>
			</div>
		</div>
		<ul class="menu">
			<li><a href="index.html">overview</a></li>
			<li><a href="use.html">use</a></li>
			<li><a href="configure.html">configure</a></li>
			<li><a href="https://github.com/geoffreywiseman/prune/blob/master/UNLICENSE">license</a></li>
		</ul>
		<div class="body">
			{{content}}
		</div>
	</body>
</html>
